html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table, tr, th, td, table, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.popup_submit {
  position: relative; }

.ajax-progress {
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 0; }
  .ajax-progress .throbber {
    background: transparent url("../images/cube-mini.gif") no-repeat 0px 0px;
    float: left;
    height: 20px;
    width: 20px;
    margin: 0px; }

#simplemeta-meta-form-ajax-wrapper,
#simplemeta-meta-form-ajax-wrapper div,
#simplemeta-meta-form-ajax-wrapper form,
#simplemeta-meta-form-ajax-wrapper label,
#simplemeta-meta-form-ajax-wrapper input,
#simplemeta-meta-form-ajax-wrapper textarea,
#simplemeta-meta-form-ajax-wrapper span {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important; }

.comment-form {
  /*.filter-wrapper{
    display: none;
  }
  a[id*="switch_edit-comment-body"]{
    display: none !important;;
  }*/ }

.messages.error {
  /*margin-bottom: 20px;*/ }

.tabs {
  /*ul.tabs{
    padding: 0; 
    li{
      &:before{
        display: none;
      }
    }
  }*/ }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none; }

body {
  background-color: #f6f6f6; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

textarea {
  resize: none; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

button, input[type="reset"], input[type="button"], input[type="submit"] {
  -webkit-box-shadow: none;
  box-shadow: none; }

a:focus, input:focus, textarea:focus, select:focus, button:focus, div:focus {
  outline: none; }

pre {
  word-wrap: break-word; }
