@import "sitewrap";
@import "header";
@import "logo";
@import "phones";
@import "callback";
@import "menu-toggle";
@import "menutop";
@import "avtoclass";

@import "aside";
@import "main";
@import "menuleft";
@import "news-block";

@import "catalog";
@import "user-content";

@import "footer";
@import "logo-footer";
@import "info-footer";
@import "phones-footer";
@import "mail-footer";
@import "social";
@import "menubottom";
@import "avtoclass-bottom";
@import "wfs";