.avtoclass{
	float: right;
	padding: 110px 0 0;
	&_title{
		display: block;
		margin: 0 0 7px;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
	}
	&_item{
		width: 239px;
		height: 39px;
		margin: 0 0 4px;
		background-color: $brown;
	}
	&_link{
		display: block;
		padding: 0 0 0 51px;
		line-height: 40px;
		font-size: 14px;
		@include link(#fff, #fff);
		text-decoration: none;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $green;
			opacity: 0;
			transform-origin: 100% 100%;
			transition: opacity 0.2s ease-out .2s,
									transform .2s ease-out .1s;
		}
		&:after{
			content: '';
			position: absolute;
			top: 14px;
			left: 22px;
			width: 13px;
			height: 13px;
			background-color: #fff;
			border-radius: 50%;
		}
		&:hover,
		&__active{
			&:before{
				opacity: 1;
				transform: scaleX(1.1);
				transition: opacity 0.2s,
										transform .2s ease-out .1s;
			}
		}
	}
}