.block-uptolike{
	.uptl_container{
		right: 0!important;
	}
	.uptl_container .uptl_toolbar.uptl_toolbar_share ul{
		border-radius: 0!important;
		padding: 10px 7px 5px!important;
	}
	.uptl_container .uptl_toolbar.uptl_toolbar_share ul.vertical li{
		margin-bottom: 5px!important;
	}
}