.catalog{
	padding: 0 22px 27px 22px;
	.front &{
		padding: 0 22px;
	}
	&_wrap{
		//@include clearfix;
		//overflow: hidden;
	}
	&_row{
		@include clearfix;
		overflow: hidden;
	}
	&_item{
		float: left;
		width: 27.02%;
		margin: 0 0 63px 9.47%;
		background-color: $brown;
		text-decoration: none;
		&:nth-child(3n-2){
			margin-left: 0;
		}
		@include break2{
			float: none;
			display: block;
			width: auto;
			max-width: 400px;
			margin: 0 auto 30px;
			&:nth-child(3n-2){
				margin: 0 auto 30px;
			}
		}
	}
	&_image{
		display: block;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&_name{
		display: table;
		width: 100%;
		font-size: 15px;
		line-height: 1;
		color: #fffefe;
	}
	&_cell{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 33px;
		padding: 4px 0;
	}
	&_bottom{
		display: block;
		@include clearfix;
		background-color: #fdfeff;
	}
	&_price{
		float: right;
		padding: 4px 17px 4px;
		font-size: 15px;
		color: #fffefe;
		background-color: $red;
	}
	&_big{
		font-size: 26px;
	}
	&_more{
		display: inline-block;
		padding: 10px 0 0;
		overflow: hidden;
		color: #676767;
		font-size: 11px;
		transition: box-shadow 0.2s;
		.catalog_item:hover &{
			box-shadow: inset 0 -1px 0 0 #676767;
		}
	}
}