.footer{
	padding: 41px 0 0;
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkYxQjVGQzlFMTk0MTExRTc4N0I4QTRDRTlEOEQxQjg0IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkYxQjVGQzlGMTk0MTExRTc4N0I4QTRDRTlEOEQxQjg0Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RjFCNUZDOUMxOTQxMTFFNzg3QjhBNENFOUQ4RDFCODQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RjFCNUZDOUQxOTQxMTFFNzg3QjhBNENFOUQ4RDFCODQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7REOf4AAAAfklEQVR42uzTMQ6AQAhEUUVauNd6/4MotKux0WQL6JbEYih/puStre39us1OFWHmZbjSzm9V4S1al3XyZF3dSZJ1daegerKe2imokqyndhpqNzuidUmnobqKRuuSTt/He+KvqsMxHMMxHMMxHMMxHMMxHMMxHMMxHP/I8SPAAFZdsU+UZGMEAAAAAElFTkSuQmCC') left top repeat;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: -27px;
		left: 0;
		width: 100%;
		height: 27px;
		background-color: #fff;
	}
	&_bottom{
		background-color: #000;
		padding: 16px 0;
	}
	&_item{
		float: left;
		width: 25%;
		@include break1{
			float: none;
			width: auto;
		}
		&__right{
			width: 50%;
			@include clearfix;
			@include break1{
				width: auto;
			}
		}
	}
}