.form-popup{
	background-color: $green;
	padding: 30px 16px 25px;
	//width: 437px;
	//margin: 0 auto;
	&_title{
		margin: 0 0 13px;
		font-size: 24px;
		line-height: 1;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		text-align: center;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 2px;
			left: 0;
			top: 50%;
			margin-top: -1px;
			background-color: #404040;
		}
		@include break3{
			font-size: 19px;
		}
	}
	&_cover{
		display: inline-block;
		padding: 0 30px;
		background-color: $green;
		@include break3{
			padding: 0 15px;
		}
	}
	p{
		color: #000;
		font-size: 12px;
		text-align: center;
		margin: 0 0 19px;
	}
	&_wrap{
		padding: 0 44px 19px;
	}
	input[type="text"],
	input[type="email"]{
		color: $brown;
		display: block;
		width: 100%;
		height: 26px;
		padding: 0 5px 0 16px;
		margin: 0 0 9px;
		border: 0;
		font-size: 17px;
		line-height: 26px;
	}
	input[type="submit"]{
		display: block;
		background-color: #484848;
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.4);
		width: 193px;
		height: 42px;
		margin: 0 auto;
		line-height: 42px;
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
		border: 0;
		color: #fff;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		transition: background-color .2s;
		&:hover{
			background-color: #999a9a;
		}
	}
}