.header{
	background-color: #fff;
	padding: 29px 0 0 0;
	&_top{
		@include clearfix;
	}
	&_left{
		float: left;
		width: 35%;
		@include break1{
			float: none;
			width: auto;
		}
	}
	&_right{
		float: right;
		width: 65%;
		max-width: 677px;
		@include break1{
			float: none;
			width: auto;
			max-width: none;
		}
	}
	&_bottom{
		@include break1{
			display: none;
		}
		height: 329px;
		background: transparent url('../images/header.jpg') 50% 50% no-repeat;
		.front &{
			@include clearfix;
			height: 516px;
			background: transparent url('../images/header-front.jpg') 3px 64px no-repeat;
		}
	}
}