.logo-footer{
	display: inline-block;
	margin: 0 0 31px;
	background: transparent url('../images/footer-logo.png') left top no-repeat;
	width: 100%;
	max-width: 267px;
	height: 111px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}