.logo{
	display: block;
	max-width: 359px;
	height: 139px;
	background: transparent url('../images/logo.png') left top no-repeat;
	background-size: 100% auto;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}