.logo{
	display: block;
	max-width: 358px;
	height: 139px;
	margin: 1px 0 0 4px;
	background: transparent url('../images/logo.png') left top no-repeat;
	background-size: 100% auto;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	@include break1{
		max-width: 200px;
		height: 77px;
		margin: 0 auto;
	}
}