.user-content{
	.front &{
		margin: -6px 0 0;
	}
	p{
		margin: 0 0 19px;
	}
	h2,
	h3,
	h4,
	h5{
		margin: 0 0 19px;
		font-weight: bold;
	}
	ul{

	}
	li{
		margin: 0 0 19px;
		padding: 0 0 0 36px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 7px;
			left: 11px;
			width: 8px;
			height: 8px;
			background-color: $green;
		}
	}
}