.user-content{
	padding: 8px 28px 33px 22px;
	.front &{
		padding: 0 28px 0 22px;
	}
	.front &{
		margin: -6px 0 0;
	}
	p{
		margin: 0 0 19px;
	}
	h2,
	h3,
	h4,
	h5{
		margin: 0 0 19px;
		font-weight: bold;
	}
	ul{
		margin: 0 0 19px;
	}
	li{
		padding: 0 0 0 20px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 7px;
			left: 4px;
			width: 8px;
			height: 8px;
			background-color: $green;
			.front &{
				left: 11px;
			}
		}
		.front &{
			margin: 0 0 19px;
			padding: 0 0 0 36px;
		}
	}
	&__description{
		color: $brown;
		p{
			font-size: 17px;
			line-height: 28px;
		}
		li{
			font-size: 17px;
			line-height: 28px;
			margin: 0 0 19px;
			&:before{
				top: 11px;
			}
		}
		h2,
		h3,
		h4,
		h5{
			font-size: 18px;
			margin: 0 0 19px;
			font-weight: bold;
		}
	}
	table{
		width: 100%;
		font-size: 14px;
		color: $brown;
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
		margin: 0 0 16px;
		background-color: #f2f3f3;
	}
	tr{
		border-bottom: 2px solid #fff;
		&:first-child{
			border: none;
		}
		&:last-child{
			border: none;
		}
	}
	th{
		background-color: #c8c8c8;
		padding: 4px 12px;
		text-align: center;
		border-bottom: none;
		border-left: 2px solid #fff;
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
		&:first-child{
			text-align: left;
			border: none;
			width: 205px;
		}
	}
	td{
		padding: 10px 12px;
		text-align: center;
		font-size: 16px;
		color: #ff0000;
		border-left: 2px solid #fff;
		&:first-child{
			text-align: left;
			font-size: 14px;
			color: $brown;
			border: none;
			width: 205px;
		}
		a{
			@include link($brown, $brown);
		}
	}
}