*{
  box-sizing: border-box;
}
.hide{
	display: none;
}
body{
	//font-family: $font;
	//min-width: 1170px;
  background-color: #f6f6f6;
}
a{
  
}
b, strong{
 	font-weight: bold;
}
i, em{
  font-style: italic;
}
textarea{
  resize: none;
}
input{
  -webkit-appearance: none;
  border-radius:0;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}
::-webkit-input-placeholder {

}
:-moz-placeholder {

}
::-moz-placeholder {

}
:-ms-input-placeholder {

}
::-ms-input-placeholder {

}
:placeholder-shown {

}
//:focus::-webkit-input-placeholder {color: transparent}
//:focus::-moz-placeholder          {color: transparent}
//:focus:-moz-placeholder           {color: transparent}
//:focus:-ms-input-placeholder      {color: transparent}