$f: Verdana, Tahoma, Segoe, sans-serif;
$fs: 14px;
//$fc: #090100;
$fc: #000;
$lh: 19px;
$green: #01b75a;
$brown: #3a3b3b;
//$font2: myriad;
//$fontRegular: 'fontregular';
//$fontBold: 'fontbold';
//$fontMyriad: 'fontmyriad';
//$fontMyriadBold: 'fontmyriadbold';
//$fontMyriadRegular: 'fontmyriadregular';
//$fontLight: 'fontlight';

//$fontSize: 18px;

//$fontColor: #303030;

//$maxWidth: 1194px;
//$minWidth: 240px;

//$innerPadings: 0 12px;